{% comment %}
  Renders responsive picture element from media metaobject
  Accepts:
  - data: Media metaobject (desktop_image, mobile_image, mobile_retina, title, class_name)
  - settings: Optional hash with aspect_ratio, lazy, media_class, wrapper_class

  Usage:
  {% render 'media-picture', data: media_metaobject, settings: media_settings %}
{% endcomment %}

{%- liquid
  assign is_lazy = true
  if settings.lazy == false or settings.lazy_load == false
    assign is_lazy = false
  endif
  assign media_class = settings.media_class | default: 'w-full h-full object-cover'
  assign wrapper_class = settings.wrapper_class | default: ''
  assign aspect_ratio = settings.aspect_ratio | default: settings.media_aspect_ratio | default: ''
  assign title = data.title.value | default: data.title | default: ''
  assign class_name = data.class_name.value | default: data.class_name | default: ''

  assign desktop_image = data.desktop_image.value | default: data.desktop_image
  assign mobile_image = data.mobile_image.value | default: data.mobile_image
  assign mobile_retina = data.mobile_retina.value | default: data.mobile_retina
-%}

{%- if desktop_image != blank or mobile_image != blank -%}
  <div class="picture prm-media {% if is_lazy %}lazy{% else %}eager{% endif %} {{ wrapper_class }} {{ class_name }}{% if aspect_ratio != blank %} {{ aspect_ratio }}{% endif %}">
    <picture>
      {%- if desktop_image != blank -%}
        {%- if mobile_image != blank -%}
          <source
            media="(max-width: 749px)"
            srcset="
              {%- if mobile_image != blank -%}{{ mobile_image | image_url: width: 750 }} 1x{%- endif -%}
              {%- if mobile_retina != blank -%}, {{ mobile_retina | image_url: width: 1500 }} 2x{%- endif -%}
            "
          >
        {%- endif -%}
        <source
          media="(min-width: 750px)"
          srcset="{{ desktop_image | image_url: width: 1920 }}"
        >
        {%- assign img_width = desktop_image.width | default: desktop_image.preview_image.width -%}
        {%- assign img_height = desktop_image.height | default: desktop_image.preview_image.height -%}
        <img
          class="{{ media_class }}"
          src="{{ desktop_image | image_url: width: 1920 }}"
          alt="{{ title | escape }}"
          {% if img_width %}width="{{ img_width }}"{% endif %}
          {% if img_height %}height="{{ img_height }}"{% endif %}
          {% if is_lazy %}loading="lazy"{% else %}loading="eager"{% endif %}
        >
      {%- elsif mobile_image != blank -%}
        {%- assign mob_width = mobile_image.width | default: mobile_image.preview_image.width -%}
        {%- assign mob_height = mobile_image.height | default: mobile_image.preview_image.height -%}
        <img
          class="{{ media_class }}"
          src="{{ mobile_image | image_url: width: 750 }}"
          alt="{{ title | escape }}"
          {% if mob_width %}width="{{ mob_width }}"{% endif %}
          {% if mob_height %}height="{{ mob_height }}"{% endif %}
          {% if is_lazy %}loading="lazy"{% else %}loading="eager"{% endif %}
        >
      {%- endif -%}
    </picture>
  </div>
{%- endif -%}
